.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}
.logo {
  width: 200px;
}

.nav-items > ul {
  font-size: 18px;
  display: flex;
  list-style-type: none;
  align-items: center;
  gap: 10px;
}

.nav-items > ul > li a {
  text-decoration: none;
  color: #000;
  cursor: pointer;
  padding: 10px;
}

.nav-items > ul > li a:hover {
  color: orange;
  transition: all 0.2s;
}
.resturant-container {
  display: flex;
  flex-wrap: wrap;
}

.resturant-card {
  margin: 10px;
  padding: 10px;
  width: 200px;
  background-color: #f1f1f1;
}

.resturant-card:hover {
  border: 1px solid black;
}

.search {
  padding: 10px;
}

.res-logo {
  padding: 5px;
  width: 95%;
}

.filter {
  margin-top: 10px;
  display: flex;
}

.shimmer-container {
  display: flex;
}

.shimmer-card {
  margin: 20px;
  width: 200px;
  height: 400px;
  background-color: #f1f1f1;
}

.login-btn {
  margin: 20px;
  width: 100px;
}
